@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap);
/* @import url(https://db.onlinewebfonts.com/c/04dcadf6b117d338c9aa168386840f46?family=FS+Matthew); */

/* @font-face {
    font-family: "FS Matthew";
    src        : url("https://db.onlinewebfonts.com/t/04dcadf6b117d338c9aa168386840f46.eot");
    src        : url("https://db.onlinewebfonts.com/t/04dcadf6b117d338c9aa168386840f46.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/04dcadf6b117d338c9aa168386840f46.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/04dcadf6b117d338c9aa168386840f46.woff") format("woff"), url("https://db.onlinewebfonts.com/t/04dcadf6b117d338c9aa168386840f46.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/04dcadf6b117d338c9aa168386840f46.svg#FS Matthew") format("svg");
} */

:root {
    --header-color       : #0058A3;
    --background-color   : #F7FCFE;
    --menu-color         : #009cdc;
    --footer-color       : #ffffff;
    /* --sp-font-family  : FS Matthew, Regular; */
    --sp-font-family     : 'Noto Sans', sans-serif;
}
html {
    font-size: 16px;
}

body {
    margin                : 0;
    /* font-size             : 1rem; */
    font-size             : 14px;
    /* font-weight        : bold; */
    line-height           : 1.5;
    color                 : #212529;
    text-align            : left;
    background-color      : #fff;
    /* font-family        : var(--sp-font-family); */
}

*,
::after,
::before {
    box-sizing: border-box;
}

p {
    margin-top   : 0;
    margin-bottom: 1rem;
}

img {
    vertical-align: middle;
    border-style  : none;
}

._sp-text-center {
    text-align: center !important;
}

._sp-text-right {
    text-align: right !important;
}

._sp-m-0 {
    margin: 0 !important;
}

._sp-mt-0,
._sp-my-0 {
    margin-top: 0 !important;
}

._sp-mr-0,
._sp-mx-0 {
    margin-right: 0 !important;
}

._sp-mb-0,
._sp-my-0 {
    margin-bottom: 0 !important;
}

._sp-ml-0,
._sp-mx-0 {
    margin-left: 0 !important;
}

._sp-m-1 {
    margin: 0.25rem !important;
}

._sp-mt-1,
._sp-my-1 {
    margin-top: 0.25rem !important;
}

._sp-mr-1,
._sp-mx-1 {
    margin-right: 0.25rem !important;
}

._sp-mb-1,
._sp-my-1 {
    margin-bottom: 0.25rem !important;
}

._sp-ml-1,
._sp-mx-1 {
    margin-left: 0.25rem !important;
}

._sp-m-2 {
    margin: 0.5rem !important;
}

._sp-mt-2,
._sp-my-2 {
    margin-top: 0.5rem !important;
}

._sp-mr-2,
._sp-mx-2 {
    margin-right: 0.5rem !important;
}

._sp-mb-2,
._sp-my-2 {
    margin-bottom: 0.5rem !important;
}

._sp-ml-2,
._sp-mx-2 {
    margin-left: 0.5rem !important;
}

._sp-m-3 {
    margin: 1rem !important;
}

._sp-mt-3,
._sp-my-3 {
    margin-top: 1rem !important;
}

._sp-mr-3,
._sp-mx-3 {
    margin-right: 1rem !important;
}

._sp-mb-3,
._sp-my-3 {
    margin-bottom: 1rem !important;
}

._sp-ml-3,
._sp-mx-3 {
    margin-left: 1rem !important;
}

._sp-m-4 {
    margin: 1.5rem !important;
}

._sp-mt-4,
._sp-my-4 {
    margin-top: 1.5rem !important;
}

._sp-mr-4,
._sp-mx-4 {
    margin-right: 1.5rem !important;
}

._sp-mb-4,
._sp-my-4 {
    margin-bottom: 1.5rem !important;
}

._sp-ml-4,
._sp-mx-4 {
    margin-left: 1.5rem !important;
}

._sp-m-5 {
    margin: 3rem !important;
}

._sp-mt-5,
._sp-my-5 {
    margin-top: 3rem !important;
}

._sp-mr-5,
._sp-mx-5 {
    margin-right: 3rem !important;
}

._sp-mb-5,
._sp-my-5 {
    margin-bottom: 3rem !important;
}

._sp-ml-5,
._sp-mx-5 {
    margin-left: 3rem !important;
}

._sp-p-0 {
    padding: 0 !important;
}

._sp-pt-0,
._sp-py-0 {
    padding-top: 0 !important;
}

._sp-pr-0,
._sp-px-0 {
    padding-right: 0 !important;
}

._sp-pb-0,
._sp-py-0 {
    padding-bottom: 0 !important;
}

._sp-pl-0,
._sp-px-0 {
    padding-left: 0 !important;
}

._sp-p-1 {
    padding: 0.25rem !important;
}

._sp-pt-1,
._sp-py-1 {
    padding-top: 0.25rem !important;
}

._sp-pr-1,
._sp-px-1 {
    padding-right: 0.25rem !important;
}

._sp-pb-1,
._sp-py-1 {
    padding-bottom: 0.25rem !important;
}

._sp-pl-1,
._sp-px-1 {
    padding-left: 0.25rem !important;
}

._sp-p-2 {
    padding: 0.5rem !important;
}

._sp-pt-2,
._sp-py-2 {
    padding-top: 0.5rem !important;
}

._sp-pr-2,
._sp-px-2 {
    padding-right: 0.5rem !important;
}

._sp-pb-2,
._sp-py-2 {
    padding-bottom: 0.5rem !important;
}

._sp-pl-2,
._sp-px-2 {
    padding-left: 0.5rem !important;
}

._sp-p-3 {
    padding: 1rem !important;
}

._sp-pt-3,
._sp-py-3 {
    padding-top: 1rem !important;
}

._sp-pr-3,
._sp-px-3 {
    padding-right: 1rem !important;
}

._sp-pb-3,
._sp-py-3 {
    padding-bottom: 1rem !important;
}

._sp-pl-3,
._sp-px-3 {
    padding-left: 1rem !important;
}

._sp-p-4 {
    padding: 1.5rem !important;
}

._sp-pt-4,
._sp-py-4 {
    padding-top: 1.5rem !important;
}

._sp-pr-4,
._sp-px-4 {
    padding-right: 1.5rem !important;
}

._sp-pb-4,
._sp-py-4 {
    padding-bottom: 1.5rem !important;
}

._sp-pl-4,
._sp-px-4 {
    padding-left: 1.5rem !important;
}

._sp-p-5 {
    padding: 3rem !important;
}

._sp-pt-5,
._sp-py-5 {
    padding-top: 3rem !important;
}

._sp-pr-5,
._sp-px-5 {
    padding-right: 3rem !important;
}

._sp-pb-5,
._sp-py-5 {
    padding-bottom: 3rem !important;
}

._sp-pl-5,
._sp-px-5 {
    padding-left: 3rem !important;
}

._sp-m-n1 {
    margin: -0.25rem !important;
}

._sp-mt-n1,
._sp-my-n1 {
    margin-top: -0.25rem !important;
}

._sp-mr-n1,
._sp-mx-n1 {
    margin-right: -0.25rem !important;
}

._sp-mb-n1,
._sp-my-n1 {
    margin-bottom: -0.25rem !important;
}

._sp-ml-n1,
._sp-mx-n1 {
    margin-left: -0.25rem !important;
}

._sp-m-n2 {
    margin: -0.5rem !important;
}

._sp-mt-n2,
._sp-my-n2 {
    margin-top: -0.5rem !important;
}

._sp-mr-n2,
._sp-mx-n2 {
    margin-right: -0.5rem !important;
}

._sp-mb-n2,
._sp-my-n2 {
    margin-bottom: -0.5rem !important;
}

._sp-ml-n2,
._sp-mx-n2 {
    margin-left: -0.5rem !important;
}

._sp-m-n3 {
    margin: -1rem !important;
}

._sp-mt-n3,
._sp-my-n3 {
    margin-top: -1rem !important;
}

._sp-mr-n3,
._sp-mx-n3 {
    margin-right: -1rem !important;
}

._sp-mb-n3,
._sp-my-n3 {
    margin-bottom: -1rem !important;
}

._sp-ml-n3,
._sp-mx-n3 {
    margin-left: -1rem !important;
}

._sp-m-n4 {
    margin: -1.5rem !important;
}

._sp-mt-n4,
._sp-my-n4 {
    margin-top: -1.5rem !important;
}

._sp-mr-n4,
._sp-mx-n4 {
    margin-right: -1.5rem !important;
}

._sp-mb-n4,
._sp-my-n4 {
    margin-bottom: -1.5rem !important;
}

._sp-ml-n4,
._sp-mx-n4 {
    margin-left: -1.5rem !important;
}

._sp-m-n5 {
    margin: -3rem !important;
}

._sp-mt-n5,
._sp-my-n5 {
    margin-top: -3rem !important;
}

._sp-mr-n5,
._sp-mx-n5 {
    margin-right: -3rem !important;
}

._sp-mb-n5,
._sp-my-n5 {
    margin-bottom: -3rem !important;
}

._sp-ml-n5,
._sp-mx-n5 {
    margin-left: -3rem !important;
}

._sp-m-auto {
    margin: auto !important;
}

._sp-mt-auto,
._sp-my-auto {
    margin-top: auto !important;
}

._sp-mr-auto,
._sp-mx-auto {
    margin-right: auto !important;
}

._sp-mb-auto,
._sp-my-auto {
    margin-bottom: auto !important;
}

._sp-ml-auto,
._sp-mx-auto {
    margin-left: auto !important;
}

._sp-row {
    display      : -ms-flexbox;
    display      : flex;
    -ms-flex-wrap: wrap;
    flex-wrap    : wrap;
    margin-right : -15px;
    margin-left  : -15px;
}

._sp-col,
._sp-col-1,
._sp-col-10,
._sp-col-11,
._sp-col-12,
._sp-col-2,
._sp-col-3,
._sp-col-4,
._sp-col-5,
._sp-col-6,
._sp-col-7,
._sp-col-8,
._sp-col-9,
._sp-col-auto,
._sp-col-lg,
._sp-col-lg-1,
._sp-col-lg-10,
._sp-col-lg-11,
._sp-col-lg-12,
._sp-col-lg-2,
._sp-col-lg-3,
._sp-col-lg-4,
._sp-col-lg-5,
._sp-col-lg-6,
._sp-col-lg-7,
._sp-col-lg-8,
._sp-col-lg-9,
._sp-col-lg-auto,
._sp-col-md,
._sp-col-md-1,
._sp-col-md-10,
._sp-col-md-11,
._sp-col-md-12,
._sp-col-md-2,
._sp-col-md-3,
._sp-col-md-4,
._sp-col-md-5,
._sp-col-md-6,
._sp-col-md-7,
._sp-col-md-8,
._sp-col-md-9,
._sp-col-md-auto,
._sp-col-sm,
._sp-col-sm-1,
._sp-col-sm-10,
._sp-col-sm-11,
._sp-col-sm-12,
._sp-col-sm-2,
._sp-col-sm-3,
._sp-col-sm-4,
._sp-col-sm-5,
._sp-col-sm-6,
._sp-col-sm-7,
._sp-col-sm-8,
._sp-col-sm-9,
._sp-col-sm-auto,
._sp-col-xl,
._sp-col-xl-1,
._sp-col-xl-10,
._sp-col-xl-11,
._sp-col-xl-12,
._sp-col-xl-2,
._sp-col-xl-3,
._sp-col-xl-4,
._sp-col-xl-5,
._sp-col-xl-6,
._sp-col-xl-7,
._sp-col-xl-8,
._sp-col-xl-9,
._sp-col-xl-auto {
    position     : relative;
    width        : 100%;
    padding-right: 15px;
    padding-left : 15px;
}

._sp-col-1 {
    -ms-flex : 0 0 8.333333%;
    flex     : 0 0 8.333333%;
    max-width: 8.333333%;
}

._sp-col-2 {
    -ms-flex : 0 0 16.666667%;
    flex     : 0 0 16.666667%;
    max-width: 16.666667%;
}

._sp-col-3 {
    -ms-flex : 0 0 25%;
    flex     : 0 0 25%;
    max-width: 25%;
}

._sp-col-4 {
    -ms-flex : 0 0 33.333333%;
    flex     : 0 0 33.333333%;
    max-width: 33.333333%;
}

._sp-col-5 {
    -ms-flex : 0 0 41.666667%;
    flex     : 0 0 41.666667%;
    max-width: 41.666667%;
}

._sp-col-6 {
    -ms-flex : 0 0 50%;
    flex     : 0 0 50%;
    max-width: 50%;
}

._sp-col-7 {
    -ms-flex : 0 0 58.333333%;
    flex     : 0 0 58.333333%;
    max-width: 58.333333%;
}

._sp-col-8 {
    -ms-flex : 0 0 66.666667%;
    flex     : 0 0 66.666667%;
    max-width: 66.666667%;
}

._sp-col-9 {
    -ms-flex : 0 0 75%;
    flex     : 0 0 75%;
    max-width: 75%;
}

._sp-col-10 {
    -ms-flex : 0 0 83.333333%;
    flex     : 0 0 83.333333%;
    max-width: 83.333333%;
}

._sp-col-11 {
    -ms-flex : 0 0 91.666667%;
    flex     : 0 0 91.666667%;
    max-width: 91.666667%;
}

._sp-col-12 {
    -ms-flex : 0 0 100%;
    flex     : 0 0 100%;
    max-width: 100%;
}

._sp-offset-1 {
    margin-left: 8.333333%;
}

._sp-offset-2 {
    margin-left: 16.666667%;
}

._sp-offset-3 {
    margin-left: 25%;
}

._sp-offset-4 {
    margin-left: 33.333333%;
}

._sp-offset-5 {
    margin-left: 41.666667%;
}

._sp-offset-6 {
    margin-left: 50%;
}

._sp-offset-7 {
    margin-left: 58.333333%;
}

._sp-offset-8 {
    margin-left: 66.666667%;
}

._sp-offset-9 {
    margin-left: 75%;
}

._sp-offset-10 {
    margin-left: 83.333333%;
}

._sp-offset-11 {
    margin-left: 91.666667%;
}


@media (min-width: 576px) {
    ._sp-col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis             : 0;
        -ms-flex-positive      : 1;
        flex-grow              : 1;
        min-width              : 0;
        max-width              : 100%;
    }

    ._sp-row-cols-sm-1>* {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
    }

    ._sp-row-cols-sm-2>* {
        -ms-flex : 0 0 50%;
        flex     : 0 0 50%;
        max-width: 50%;
    }

    ._sp-row-cols-sm-3>* {
        -ms-flex : 0 0 33.333333%;
        flex     : 0 0 33.333333%;
        max-width: 33.333333%;
    }

    ._sp-row-cols-sm-4>* {
        -ms-flex : 0 0 25%;
        flex     : 0 0 25%;
        max-width: 25%;
    }

    ._sp-row-cols-sm-5>* {
        -ms-flex : 0 0 20%;
        flex     : 0 0 20%;
        max-width: 20%;
    }

    ._sp-row-cols-sm-6>* {
        -ms-flex : 0 0 16.666667%;
        flex     : 0 0 16.666667%;
        max-width: 16.666667%;
    }

    ._sp-col-sm-auto {
        -ms-flex : 0 0 auto;
        flex     : 0 0 auto;
        width    : auto;
        max-width: 100%;
    }

    ._sp-col-sm-1 {
        -ms-flex : 0 0 8.333333%;
        flex     : 0 0 8.333333%;
        max-width: 8.333333%;
    }

    ._sp-col-sm-2 {
        -ms-flex : 0 0 16.666667%;
        flex     : 0 0 16.666667%;
        max-width: 16.666667%;
    }

    ._sp-col-sm-3 {
        -ms-flex : 0 0 25%;
        flex     : 0 0 25%;
        max-width: 25%;
    }

    ._sp-col-sm-4 {
        -ms-flex : 0 0 33.333333%;
        flex     : 0 0 33.333333%;
        max-width: 33.333333%;
    }

    ._sp-col-sm-5 {
        -ms-flex : 0 0 41.666667%;
        flex     : 0 0 41.666667%;
        max-width: 41.666667%;
    }

    ._sp-col-sm-6 {
        -ms-flex : 0 0 50%;
        flex     : 0 0 50%;
        max-width: 50%;
    }

    ._sp-col-sm-7 {
        -ms-flex : 0 0 58.333333%;
        flex     : 0 0 58.333333%;
        max-width: 58.333333%;
    }

    ._sp-col-sm-8 {
        -ms-flex : 0 0 66.666667%;
        flex     : 0 0 66.666667%;
        max-width: 66.666667%;
    }

    ._sp-col-sm-9 {
        -ms-flex : 0 0 75%;
        flex     : 0 0 75%;
        max-width: 75%;
    }

    ._sp-col-sm-10 {
        -ms-flex : 0 0 83.333333%;
        flex     : 0 0 83.333333%;
        max-width: 83.333333%;
    }

    ._sp-col-sm-11 {
        -ms-flex : 0 0 91.666667%;
        flex     : 0 0 91.666667%;
        max-width: 91.666667%;
    }

    ._sp-col-sm-12 {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
    }

    ._sp-order-sm-first {
        -ms-flex-order: -1;
        order         : -1;
    }

    ._sp-order-sm-last {
        -ms-flex-order: 13;
        order         : 13;
    }

    ._sp-order-sm-0 {
        -ms-flex-order: 0;
        order         : 0;
    }

    ._sp-order-sm-1 {
        -ms-flex-order: 1;
        order         : 1;
    }

    ._sp-order-sm-2 {
        -ms-flex-order: 2;
        order         : 2;
    }

    ._sp-order-sm-3 {
        -ms-flex-order: 3;
        order         : 3;
    }

    ._sp-order-sm-4 {
        -ms-flex-order: 4;
        order         : 4;
    }

    ._sp-order-sm-5 {
        -ms-flex-order: 5;
        order         : 5;
    }

    ._sp-order-sm-6 {
        -ms-flex-order: 6;
        order         : 6;
    }

    ._sp-order-sm-7 {
        -ms-flex-order: 7;
        order         : 7;
    }

    ._sp-order-sm-8 {
        -ms-flex-order: 8;
        order         : 8;
    }

    ._sp-order-sm-9 {
        -ms-flex-order: 9;
        order         : 9;
    }

    ._sp-order-sm-10 {
        -ms-flex-order: 10;
        order         : 10;
    }

    ._sp-order-sm-11 {
        -ms-flex-order: 11;
        order         : 11;
    }

    ._sp-order-sm-12 {
        -ms-flex-order: 12;
        order         : 12;
    }

    ._sp-offset-sm-0 {
        margin-left: 0;
    }

    ._sp-offset-sm-1 {
        margin-left: 8.333333%;
    }

    ._sp-offset-sm-2 {
        margin-left: 16.666667%;
    }

    ._sp-offset-sm-3 {
        margin-left: 25%;
    }

    ._sp-offset-sm-4 {
        margin-left: 33.333333%;
    }

    ._sp-offset-sm-5 {
        margin-left: 41.666667%;
    }

    ._sp-offset-sm-6 {
        margin-left: 50%;
    }

    ._sp-offset-sm-7 {
        margin-left: 58.333333%;
    }

    ._sp-offset-sm-8 {
        margin-left: 66.666667%;
    }

    ._sp-offset-sm-9 {
        margin-left: 75%;
    }

    ._sp-offset-sm-10 {
        margin-left: 83.333333%;
    }

    ._sp-offset-sm-11 {
        margin-left: 91.666667%;
    }
}

@media (min-width: 768px) {
    ._sp-col-md {
        -ms-flex-preferred-size: 0;
        flex-basis             : 0;
        -ms-flex-positive      : 1;
        flex-grow              : 1;
        min-width              : 0;
        max-width              : 100%;
    }

    ._sp-row-cols-md-1>* {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
    }

    ._sp-row-cols-md-2>* {
        -ms-flex : 0 0 50%;
        flex     : 0 0 50%;
        max-width: 50%;
    }

    ._sp-row-cols-md-3>* {
        -ms-flex : 0 0 33.333333%;
        flex     : 0 0 33.333333%;
        max-width: 33.333333%;
    }

    ._sp-row-cols-md-4>* {
        -ms-flex : 0 0 25%;
        flex     : 0 0 25%;
        max-width: 25%;
    }

    ._sp-row-cols-md-5>* {
        -ms-flex : 0 0 20%;
        flex     : 0 0 20%;
        max-width: 20%;
    }

    ._sp-row-cols-md-6>* {
        -ms-flex : 0 0 16.666667%;
        flex     : 0 0 16.666667%;
        max-width: 16.666667%;
    }

    ._sp-col-md-auto {
        -ms-flex : 0 0 auto;
        flex     : 0 0 auto;
        width    : auto;
        max-width: 100%;
    }

    ._sp-col-md-1 {
        -ms-flex : 0 0 8.333333%;
        flex     : 0 0 8.333333%;
        max-width: 8.333333%;
    }

    ._sp-col-md-2 {
        -ms-flex : 0 0 16.666667%;
        flex     : 0 0 16.666667%;
        max-width: 16.666667%;
    }

    ._sp-col-md-3 {
        -ms-flex : 0 0 25%;
        flex     : 0 0 25%;
        max-width: 25%;
    }

    ._sp-col-md-4 {
        -ms-flex : 0 0 33.333333%;
        flex     : 0 0 33.333333%;
        max-width: 33.333333%;
    }

    ._sp-col-md-5 {
        -ms-flex : 0 0 41.666667%;
        flex     : 0 0 41.666667%;
        max-width: 41.666667%;
    }

    ._sp-col-md-6 {
        -ms-flex : 0 0 50%;
        flex     : 0 0 50%;
        max-width: 50%;
    }

    ._sp-col-md-7 {
        -ms-flex : 0 0 58.333333%;
        flex     : 0 0 58.333333%;
        max-width: 58.333333%;
    }

    ._sp-col-md-8 {
        -ms-flex : 0 0 66.666667%;
        flex     : 0 0 66.666667%;
        max-width: 66.666667%;
    }

    ._sp-col-md-9 {
        -ms-flex : 0 0 75%;
        flex     : 0 0 75%;
        max-width: 75%;
    }

    ._sp-col-md-10 {
        -ms-flex : 0 0 83.333333%;
        flex     : 0 0 83.333333%;
        max-width: 83.333333%;
    }

    ._sp-col-md-11 {
        -ms-flex : 0 0 91.666667%;
        flex     : 0 0 91.666667%;
        max-width: 91.666667%;
    }

    ._sp-col-md-12 {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
    }

    ._sp-order-md-first {
        -ms-flex-order: -1;
        order         : -1;
    }

    ._sp-order-md-last {
        -ms-flex-order: 13;
        order         : 13;
    }

    ._sp-order-md-0 {
        -ms-flex-order: 0;
        order         : 0;
    }

    ._sp-order-md-1 {
        -ms-flex-order: 1;
        order         : 1;
    }

    ._sp-order-md-2 {
        -ms-flex-order: 2;
        order         : 2;
    }

    ._sp-order-md-3 {
        -ms-flex-order: 3;
        order         : 3;
    }

    ._sp-order-md-4 {
        -ms-flex-order: 4;
        order         : 4;
    }

    ._sp-order-md-5 {
        -ms-flex-order: 5;
        order         : 5;
    }

    ._sp-order-md-6 {
        -ms-flex-order: 6;
        order         : 6;
    }

    ._sp-order-md-7 {
        -ms-flex-order: 7;
        order         : 7;
    }

    ._sp-order-md-8 {
        -ms-flex-order: 8;
        order         : 8;
    }

    ._sp-order-md-9 {
        -ms-flex-order: 9;
        order         : 9;
    }

    ._sp-order-md-10 {
        -ms-flex-order: 10;
        order         : 10;
    }

    ._sp-order-md-11 {
        -ms-flex-order: 11;
        order         : 11;
    }

    ._sp-order-md-12 {
        -ms-flex-order: 12;
        order         : 12;
    }

    ._sp-offset-md-0 {
        margin-left: 0;
    }

    ._sp-offset-md-1 {
        margin-left: 8.333333%;
    }

    ._sp-offset-md-2 {
        margin-left: 16.666667%;
    }

    ._sp-offset-md-3 {
        margin-left: 25%;
    }

    ._sp-offset-md-4 {
        margin-left: 33.333333%;
    }

    ._sp-offset-md-5 {
        margin-left: 41.666667%;
    }

    ._sp-offset-md-6 {
        margin-left: 50%;
    }

    ._sp-offset-md-7 {
        margin-left: 58.333333%;
    }

    ._sp-offset-md-8 {
        margin-left: 66.666667%;
    }

    ._sp-offset-md-9 {
        margin-left: 75%;
    }

    ._sp-offset-md-10 {
        margin-left: 83.333333%;
    }

    ._sp-offset-md-11 {
        margin-left: 91.666667%;
    }
}

@media (min-width: 992px) {
    ._sp-col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis             : 0;
        -ms-flex-positive      : 1;
        flex-grow              : 1;
        min-width              : 0;
        max-width              : 100%;
    }

    ._sp-row-cols-lg-1>* {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
    }

    ._sp-row-cols-lg-2>* {
        -ms-flex : 0 0 50%;
        flex     : 0 0 50%;
        max-width: 50%;
    }

    ._sp-row-cols-lg-3>* {
        -ms-flex : 0 0 33.333333%;
        flex     : 0 0 33.333333%;
        max-width: 33.333333%;
    }

    ._sp-row-cols-lg-4>* {
        -ms-flex : 0 0 25%;
        flex     : 0 0 25%;
        max-width: 25%;
    }

    ._sp-row-cols-lg-5>* {
        -ms-flex : 0 0 20%;
        flex     : 0 0 20%;
        max-width: 20%;
    }

    ._sp-row-cols-lg-6>* {
        -ms-flex : 0 0 16.666667%;
        flex     : 0 0 16.666667%;
        max-width: 16.666667%;
    }

    ._sp-col-lg-auto {
        -ms-flex : 0 0 auto;
        flex     : 0 0 auto;
        width    : auto;
        max-width: 100%;
    }

    ._sp-col-lg-1 {
        -ms-flex : 0 0 8.333333%;
        flex     : 0 0 8.333333%;
        max-width: 8.333333%;
    }

    ._sp-col-lg-2 {
        -ms-flex : 0 0 16.666667%;
        flex     : 0 0 16.666667%;
        max-width: 16.666667%;
    }

    ._sp-col-lg-3 {
        -ms-flex : 0 0 25%;
        flex     : 0 0 25%;
        max-width: 25%;
    }

    ._sp-col-lg-4 {
        -ms-flex : 0 0 33.333333%;
        flex     : 0 0 33.333333%;
        max-width: 33.333333%;
    }

    ._sp-col-lg-5 {
        -ms-flex : 0 0 41.666667%;
        flex     : 0 0 41.666667%;
        max-width: 41.666667%;
    }

    ._sp-col-lg-6 {
        -ms-flex : 0 0 50%;
        flex     : 0 0 50%;
        max-width: 50%;
    }

    ._sp-col-lg-7 {
        -ms-flex : 0 0 58.333333%;
        flex     : 0 0 58.333333%;
        max-width: 58.333333%;
    }

    ._sp-col-lg-8 {
        -ms-flex : 0 0 66.666667%;
        flex     : 0 0 66.666667%;
        max-width: 66.666667%;
    }

    ._sp-col-lg-9 {
        -ms-flex : 0 0 75%;
        flex     : 0 0 75%;
        max-width: 75%;
    }

    ._sp-col-lg-10 {
        -ms-flex : 0 0 83.333333%;
        flex     : 0 0 83.333333%;
        max-width: 83.333333%;
    }

    ._sp-col-lg-11 {
        -ms-flex : 0 0 91.666667%;
        flex     : 0 0 91.666667%;
        max-width: 91.666667%;
    }

    ._sp-col-lg-12 {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
    }

    ._sp-order-lg-first {
        -ms-flex-order: -1;
        order         : -1;
    }

    ._sp-order-lg-last {
        -ms-flex-order: 13;
        order         : 13;
    }

    ._sp-order-lg-0 {
        -ms-flex-order: 0;
        order         : 0;
    }

    ._sp-order-lg-1 {
        -ms-flex-order: 1;
        order         : 1;
    }

    ._sp-order-lg-2 {
        -ms-flex-order: 2;
        order         : 2;
    }

    ._sp-order-lg-3 {
        -ms-flex-order: 3;
        order         : 3;
    }

    ._sp-order-lg-4 {
        -ms-flex-order: 4;
        order         : 4;
    }

    ._sp-order-lg-5 {
        -ms-flex-order: 5;
        order         : 5;
    }

    ._sp-order-lg-6 {
        -ms-flex-order: 6;
        order         : 6;
    }

    ._sp-order-lg-7 {
        -ms-flex-order: 7;
        order         : 7;
    }

    ._sp-order-lg-8 {
        -ms-flex-order: 8;
        order         : 8;
    }

    ._sp-order-lg-9 {
        -ms-flex-order: 9;
        order         : 9;
    }

    ._sp-order-lg-10 {
        -ms-flex-order: 10;
        order         : 10;
    }

    ._sp-order-lg-11 {
        -ms-flex-order: 11;
        order         : 11;
    }

    ._sp-order-lg-12 {
        -ms-flex-order: 12;
        order         : 12;
    }

    ._sp-offset-lg-0 {
        margin-left: 0;
    }

    ._sp-offset-lg-1 {
        margin-left: 8.333333%;
    }

    ._sp-offset-lg-2 {
        margin-left: 16.666667%;
    }

    ._sp-offset-lg-3 {
        margin-left: 25%;
    }

    ._sp-offset-lg-4 {
        margin-left: 33.333333%;
    }

    ._sp-offset-lg-5 {
        margin-left: 41.666667%;
    }

    ._sp-offset-lg-6 {
        margin-left: 50%;
    }

    ._sp-offset-lg-7 {
        margin-left: 58.333333%;
    }

    ._sp-offset-lg-8 {
        margin-left: 66.666667%;
    }

    ._sp-offset-lg-9 {
        margin-left: 75%;
    }

    ._sp-offset-lg-10 {
        margin-left: 83.333333%;
    }

    ._sp-offset-lg-11 {
        margin-left: 91.666667%;
    }
}

@media (min-width: 1200px) {
    ._sp-col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis             : 0;
        -ms-flex-positive      : 1;
        flex-grow              : 1;
        min-width              : 0;
        max-width              : 100%;
    }

    ._sp-row-cols-xl-1>* {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
    }

    ._sp-row-cols-xl-2>* {
        -ms-flex : 0 0 50%;
        flex     : 0 0 50%;
        max-width: 50%;
    }

    ._sp-row-cols-xl-3>* {
        -ms-flex : 0 0 33.333333%;
        flex     : 0 0 33.333333%;
        max-width: 33.333333%;
    }

    ._sp-row-cols-xl-4>* {
        -ms-flex : 0 0 25%;
        flex     : 0 0 25%;
        max-width: 25%;
    }

    ._sp-row-cols-xl-5>* {
        -ms-flex : 0 0 20%;
        flex     : 0 0 20%;
        max-width: 20%;
    }

    ._sp-row-cols-xl-6>* {
        -ms-flex : 0 0 16.666667%;
        flex     : 0 0 16.666667%;
        max-width: 16.666667%;
    }

    ._sp-col-xl-auto {
        -ms-flex : 0 0 auto;
        flex     : 0 0 auto;
        width    : auto;
        max-width: 100%;
    }

    ._sp-col-xl-1 {
        -ms-flex : 0 0 8.333333%;
        flex     : 0 0 8.333333%;
        max-width: 8.333333%;
    }

    ._sp-col-xl-2 {
        -ms-flex : 0 0 16.666667%;
        flex     : 0 0 16.666667%;
        max-width: 16.666667%;
    }

    ._sp-col-xl-3 {
        -ms-flex : 0 0 25%;
        flex     : 0 0 25%;
        max-width: 25%;
    }

    ._sp-col-xl-4 {
        -ms-flex : 0 0 33.333333%;
        flex     : 0 0 33.333333%;
        max-width: 33.333333%;
    }

    ._sp-col-xl-5 {
        -ms-flex : 0 0 41.666667%;
        flex     : 0 0 41.666667%;
        max-width: 41.666667%;
    }

    ._sp-col-xl-6 {
        -ms-flex : 0 0 50%;
        flex     : 0 0 50%;
        max-width: 50%;
    }

    ._sp-col-xl-7 {
        -ms-flex : 0 0 58.333333%;
        flex     : 0 0 58.333333%;
        max-width: 58.333333%;
    }

    ._sp-col-xl-8 {
        -ms-flex : 0 0 66.666667%;
        flex     : 0 0 66.666667%;
        max-width: 66.666667%;
    }

    ._sp-col-xl-9 {
        -ms-flex : 0 0 75%;
        flex     : 0 0 75%;
        max-width: 75%;
    }

    ._sp-col-xl-10 {
        -ms-flex : 0 0 83.333333%;
        flex     : 0 0 83.333333%;
        max-width: 83.333333%;
    }

    ._sp-col-xl-11 {
        -ms-flex : 0 0 91.666667%;
        flex     : 0 0 91.666667%;
        max-width: 91.666667%;
    }

    ._sp-col-xl-12 {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
    }

    ._sp-order-xl-first {
        -ms-flex-order: -1;
        order         : -1;
    }

    ._sp-order-xl-last {
        -ms-flex-order: 13;
        order         : 13;
    }

    ._sp-order-xl-0 {
        -ms-flex-order: 0;
        order         : 0;
    }

    ._sp-order-xl-1 {
        -ms-flex-order: 1;
        order         : 1;
    }

    ._sp-order-xl-2 {
        -ms-flex-order: 2;
        order         : 2;
    }

    ._sp-order-xl-3 {
        -ms-flex-order: 3;
        order         : 3;
    }

    ._sp-order-xl-4 {
        -ms-flex-order: 4;
        order         : 4;
    }

    ._sp-order-xl-5 {
        -ms-flex-order: 5;
        order         : 5;
    }

    ._sp-order-xl-6 {
        -ms-flex-order: 6;
        order         : 6;
    }

    ._sp-order-xl-7 {
        -ms-flex-order: 7;
        order         : 7;
    }

    ._sp-order-xl-8 {
        -ms-flex-order: 8;
        order         : 8;
    }

    ._sp-order-xl-9 {
        -ms-flex-order: 9;
        order         : 9;
    }

    ._sp-order-xl-10 {
        -ms-flex-order: 10;
        order         : 10;
    }

    ._sp-order-xl-11 {
        -ms-flex-order: 11;
        order         : 11;
    }

    ._sp-order-xl-12 {
        -ms-flex-order: 12;
        order         : 12;
    }

    ._sp-offset-xl-0 {
        margin-left: 0;
    }

    ._sp-offset-xl-1 {
        margin-left: 8.333333%;
    }

    ._sp-offset-xl-2 {
        margin-left: 16.666667%;
    }

    ._sp-offset-xl-3 {
        margin-left: 25%;
    }

    ._sp-offset-xl-4 {
        margin-left: 33.333333%;
    }

    ._sp-offset-xl-5 {
        margin-left: 41.666667%;
    }

    ._sp-offset-xl-6 {
        margin-left: 50%;
    }

    ._sp-offset-xl-7 {
        margin-left: 58.333333%;
    }

    ._sp-offset-xl-8 {
        margin-left: 66.666667%;
    }

    ._sp-offset-xl-9 {
        margin-left: 75%;
    }

    ._sp-offset-xl-10 {
        margin-left: 83.333333%;
    }

    ._sp-offset-xl-11 {
        margin-left: 91.666667%;
    }
}

#product-list {
    padding: 20px;
}

.sp-mandatory {
    color: #FF0000;
}

/**** Modal Style ***/

._sp-modal-open {
    overflow: hidden;
}

._sp-modal-open ._sp-modal {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: initial;
}

._sp-modal {
    position: fixed;
    top     : 0;
    left    : 0;
    z-index : 1050;
    display : none;
    width   : 100%;
    height  : 100%;
    overflow: hidden;
    outline : 0;
}

._sp-modal-dialog {
    position      : relative;
    width         : auto;
    margin        : 0.5rem;
    pointer-events: none;
}

._sp-modal._sp-fade ._sp-modal-dialog {
    transition       : -webkit-transform 0.3s ease-out;
    transition       : transform 0.3s ease-out;
    transition       : transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform        : translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
    ._sp-modal._sp-fade ._sp-modal-dialog {
        transition: none;
    }
}

._sp-modal._sp-show ._sp-modal-dialog {
    -webkit-transform: none;
    transform        : none;
}

._sp-modal._sp-modal-static ._sp-modal-dialog {
    -webkit-transform: scale(1.02);
    transform        : scale(1.02);
}

._sp-modal-dialog-scrollable {
    display   : -ms-flexbox;
    display   : flex;
    max-height: calc(100% - 1rem);
}

._sp-modal-dialog-scrollable ._sp-modal-content {
    max-height: calc(100vh - 1rem);
    overflow  : hidden;
}

._sp-modal-dialog-scrollable ._sp-modal-header,
._sp-modal-dialog-scrollable ._sp-modal-footer {
    -ms-flex-negative: 0;
    flex-shrink      : 0;
}

._sp-modal-dialog-scrollable ._sp-modal-body {
    overflow-y: auto;
}

._sp-modal-dialog-centered {
    display       : -ms-flexbox;
    display       : flex;
    -ms-flex-align: center;
    align-items   : center;
    min-height    : calc(100% - 1rem);
}

._sp-modal-dialog-centered::before {
    display: block;
    height : calc(100vh - 1rem);
    height : -webkit-min-content;
    height : -moz-min-content;
    height : min-content;
    content: "";
}

._sp-modal-dialog-centered._sp-modal-dialog-scrollable {
    -ms-flex-direction: column;
    flex-direction    : column;
    -ms-flex-pack     : center;
    justify-content   : center;
    height            : 100%;
}

._sp-modal-dialog-centered._sp-modal-dialog-scrollable ._sp-modal-content {
    max-height: none;
}

._sp-modal-dialog-centered._sp-modal-dialog-scrollable::before {
    content: none;
}

._sp-modal-content {
    position          : relative;
    display           : -ms-flexbox;
    display           : flex;
    -ms-flex-direction: column;
    flex-direction    : column;
    width             : 100%;
    pointer-events    : auto;
    background-color  : #fff;
    background-clip   : padding-box;
    border            : 1px solid rgba(0, 0, 0, 0.2);
    border-radius     : 0.3rem;
    outline           : 0;
}

._sp-modal-backdrop {
    position        : fixed;
    top             : 0;
    left            : 0;
    z-index         : 1040;
    width           : 100vw;
    height          : 100vh;
    background-color: #000;
}

._sp-modal-backdrop._sp-fade {
    opacity: 0;
}

._sp-modal-backdrop._sp-show {
    opacity: 0.5;
}

._sp-modal-header {
    display                : -ms-flexbox;
    display                : flex;
    -ms-flex-align         : start;
    align-items            : flex-start;
    -ms-flex-pack          : justify;
    justify-content        : space-between;
    padding                : 1rem 1rem;
    border-bottom          : 1px solid #dee2e6;
    border-top-left-radius : calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

._sp-modal-header ._sp-close {
    padding: 1rem 1rem;
    margin : -1rem -1rem -1rem auto;
}

._sp-modal-title {
    margin-bottom: 0;
    line-height  : 1.5;
}

._sp-modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex    : 1 1 auto;
    padding : 1rem;
}

._sp-modal-footer {
    display                   : -ms-flexbox;
    display                   : flex;
    -ms-flex-wrap             : wrap;
    flex-wrap                 : wrap;
    -ms-flex-align            : center;
    align-items               : center;
    -ms-flex-pack             : end;
    justify-content           : flex-end;
    padding                   : 0.75rem;
    border-top                : 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius : calc(0.3rem - 1px);
}

._sp-modal-footer>* {
    margin: 0.25rem;
}

._sp-modal-scrollbar-measure {
    position: absolute;
    top     : -9999px;
    width   : 50px;
    height  : 50px;
    overflow: scroll;
}

@media (min-width: 576px) {
    ._sp-modal-dialog {
        max-width: 500px;
        margin   : 1.75rem auto;
    }

    ._sp-modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem);
    }

    ._sp-modal-dialog-scrollable ._sp-modal-content {
        max-height: calc(100vh - 3.5rem);
    }

    ._sp-modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }

    ._sp-modal-dialog-centered::before {
        height: calc(100vh - 3.5rem);
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }

    ._sp-modal-sm {
        max-width: 300px;
    }
}

@media (min-width: 992px) {

    ._sp-modal-lg,
    ._sp-modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    ._sp-modal-xl {
        max-width: 1140px;
    }
}

._sp-fade {
    transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
    ._sp-fade {
        transition: none;
    }
}

._sp-fade:not(._sp-show) {
    opacity: 0;
}


/**** BS Button Style ***/

/**** BS Button Style ***/
._sp-btn {
    display            : inline-block;
    font-weight        : 400;
    color              : #212529;
    text-align         : center;
    vertical-align     : middle;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    background-color   : transparent;
    border             : 1px solid transparent;
    padding            : 0.375rem 0.75rem;
    font-size          : 1rem;
    line-height        : 1.5;
    border-radius      : 0.25rem;
    transition         : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 5px;
}

@media (prefers-reduced-motion: reduce) {
    ._sp-btn {
        transition: none;
    }
}

._sp-btn:hover {
    color          : #212529;
    text-decoration: none;
}

._sp-btn:focus,
._sp-btn.focus {
    outline   : 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

._sp-btn.disabled,
._sp-btn:disabled {
    /* opacity: 0.65; */
    background: var(--header-color)
}

._sp-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a._sp-btn.disabled,
fieldset:disabled a._sp-btn {
    pointer-events: none;
}

._sp-btn-primary {
    color           : #fff;
    background-color: #007bff;
    border-color    : #007bff;
}

._sp-btn-primary:hover {
    color           : #fff;
    background-color: #0069d9;
    border-color    : #0062cc;
}

._sp-btn-primary:focus,
._sp-btn-primary.focus {
    color           : #fff;
    background-color: #0069d9;
    border-color    : #0062cc;
    box-shadow      : 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

._sp-btn-primary.disabled,
._sp-btn-primary:disabled {
    color           : #fff;
    background-color: #007bff;
    border-color    : #007bff;
}

._sp-btn-primary:not(:disabled):not(.disabled):active,
._sp-btn-primary:not(:disabled):not(.disabled).active,
._sp-show>._sp-btn-primary._sp-dropdown-toggle {
    color           : #fff;
    background-color: #0062cc;
    border-color    : #005cbf;
}

._sp-btn-primary:not(:disabled):not(.disabled):active:focus,
._sp-btn-primary:not(:disabled):not(.disabled).active:focus,
._sp-show>._sp-btn-primary._sp-dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

._sp-btn-secondary {
    color           : #fff;
    background-color: #6c757d;
    border-color    : #6c757d;
}

._sp-btn-secondary:hover {
    color           : #fff;
    background-color: #5a6268;
    border-color    : #545b62;
}

._sp-btn-secondary:focus,
._sp-btn-secondary.focus {
    color           : #fff;
    background-color: #5a6268;
    border-color    : #545b62;
    box-shadow      : 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

._sp-btn-secondary.disabled,
._sp-btn-secondary:disabled {
    color           : #fff;
    background-color: #6c757d;
    border-color    : #6c757d;
}

._sp-btn-secondary:not(:disabled):not(.disabled):active,
._sp-btn-secondary:not(:disabled):not(.disabled).active,
._sp-show>._sp-btn-secondary._sp-dropdown-toggle {
    color           : #fff;
    background-color: #545b62;
    border-color    : #4e555b;
}

._sp-btn-secondary:not(:disabled):not(.disabled):active:focus,
._sp-btn-secondary:not(:disabled):not(.disabled).active:focus,
._sp-show>.btn-secondary._sp-dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

._sp-btn-success {
    color           : #fff;
    background-color: #28a745;
    border-color    : #28a745;
}

._sp-btn-success:hover {
    color           : #fff;
    background-color: #218838;
    border-color    : #1e7e34;
}

._sp-btn-success:focus,
._sp-btn-success.focus {
    color           : #fff;
    background-color: #218838;
    border-color    : #1e7e34;
    box-shadow      : 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

._sp-btn-success.disabled,
._sp-btn-success:disabled {
    color           : #fff;
    background-color: #28a745;
    border-color    : #28a745;
}

._sp-btn-success:not(:disabled):not(.disabled):active,
._sp-btn-success:not(:disabled):not(.disabled).active,
._sp-show>._sp-btn-success._sp-dropdown-toggle {
    color           : #fff;
    background-color: #1e7e34;
    border-color    : #1c7430;
}

._sp-btn-success:not(:disabled):not(.disabled):active:focus,
._sp-btn-success:not(:disabled):not(.disabled).active:focus,
._sp-show>._sp-btn-success._sp-dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

._sp-btn-danger {
    color           : #fff;
    background-color: #dc3545;
    border-color    : #dc3545;
}

._sp-btn-danger:hover {
    color           : #fff;
    background-color: #c82333;
    border-color    : #bd2130;
}

._sp-btn-danger:focus,
._sp-btn-danger.focus {
    color           : #fff;
    background-color: #c82333;
    border-color    : #bd2130;
    box-shadow      : 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

._sp-btn-danger.disabled,
._sp-btn-danger:disabled {
    color           : #fff;
    background-color: #dc3545;
    border-color    : #dc3545;
}

._sp-btn-danger:not(:disabled):not(.disabled):active,
._sp-btn-danger:not(:disabled):not(.disabled).active,
._sp-show>._sp-btn-danger._sp-dropdown-toggle {
    color           : #fff;
    background-color: #bd2130;
    border-color    : #b21f2d;
}

._sp-btn-danger:not(:disabled):not(.disabled):active:focus,
._sp-btn-danger:not(:disabled):not(.disabled).active:focus,
._sp-show>._sp-btn-danger._sp-dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

._sp-btn-block {
    display: block;
    width  : 100%;
}

._sp-btn-block+._sp-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"]._sp-btn-block,
input[type="reset"]._sp-btn-block,
input[type="button"]._sp-btn-block {
    width: 100%;
}

/**** End BS Button Style ***/

/**** BS Form Control Style ***/

._sp-form-control {
    display         : block;
    width           : 100%;
    height          : calc(1.5em + 0.75rem + 2px);
    padding         : 0.375rem 0.75rem;
    font-size       : 1rem;
    font-weight     : 400;
    line-height     : 1.5;
    color           : #495057;
    background-color: #fff;
    background-clip : padding-box;
    border          : 1px solid #ced4da;
    border-radius   : 0.25rem;
    transition      : border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    ._sp-form-control {
        transition: none;
    }
}

._sp-form-control::-ms-expand {
    background-color: transparent;
    border          : 0;
}

._sp-form-control:-moz-focusring {
    color      : transparent;
    text-shadow: 0 0 0 #495057;
}

._sp-form-control:focus {
    color           : #495057;
    background-color: #fff;
    border-color    : #80bdff;
    outline         : 0;
    box-shadow      : 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

._sp-form-control::-webkit-input-placeholder {
    color  : #6c757d;
    opacity: 1;
}

._sp-form-control::-moz-placeholder {
    color  : #6c757d;
    opacity: 1;
}

._sp-form-control:-ms-input-placeholder {
    color  : #6c757d;
    opacity: 1;
}

._sp-form-control::-ms-input-placeholder {
    color  : #6c757d;
    opacity: 1;
}

._sp-form-control::placeholder {
    color  : #6c757d;
    opacity: 1;
}

._sp-form-control:disabled,
._sp-form-control[readonly] {
    background-color: #e9ecef;
    opacity         : 1;
}

input[type="date"]._sp-form-control,
input[type="time"]._sp-form-control,
input[type="datetime-local"]._sp-form-control,
input[type="month"]._sp-form-control {
    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;
}

select._sp-form-control:focus::-ms-value {
    color           : #495057;
    background-color: #fff;
}

._sp-form-control-file,
._sp-form-control-range {
    display: block;
    width  : 100%;
}

._sp-col-form-label {
    padding-top   : calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom : 0;
    font-size     : inherit;
    line-height   : 1.5;
}

._sp-col-form-label-lg {
    padding-top   : calc(0.5rem + 1px);
    padding-bottom: calc(0.5rem + 1px);
    font-size     : 1.25rem;
    line-height   : 1.5;
}

._sp-col-form-label-sm {
    padding-top   : calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
    font-size     : 0.875rem;
    line-height   : 1.5;
}

._sp-form-control-plaintext {
    display         : block;
    width           : 100%;
    padding         : 0.375rem 0;
    margin-bottom   : 0;
    font-size       : 1rem;
    line-height     : 1.5;
    color           : #212529;
    background-color: transparent;
    border          : solid transparent;
    border-width    : 1px 0;
}

._sp-form-control-plaintext._sp-form-control-sm,
._sp-form-control-plaintext._sp-form-control-lg {
    padding-right: 0;
    padding-left : 0;
}

._sp-form-control-sm {
    height       : calc(1.5em + 0.5rem + 2px);
    padding      : 0.25rem 0.5rem;
    font-size    : 0.875rem;
    line-height  : 1.5;
    border-radius: 0.2rem;
}

._sp-form-control-lg {
    height       : calc(1.5em + 1rem + 2px);
    padding      : 0.5rem 1rem;
    font-size    : 1.25rem;
    line-height  : 1.5;
    border-radius: 0.3rem;
}

select._sp-form-control[size],
select._sp-form-control[multiple] {
    height: auto;
}

textarea._sp-form-control {
    height: auto;
}

._sp-form-group {
    margin-bottom: 1rem;
}

._sp-form-text {
    display   : block;
    margin-top: 0.25rem;
}

._sp-form-row {
    display      : -ms-flexbox;
    display      : flex;
    -ms-flex-wrap: wrap;
    flex-wrap    : wrap;
    margin-right : -5px;
    margin-left  : -5px;
}

._sp-form-row>._sp-col,
._sp-form-row>[class*="_sp-col-"] {
    padding-right: 5px;
    padding-left : 5px;
}

._sp-form-check {
    position    : relative;
    display     : block;
    padding-left: 1.25rem;
}

._sp-form-check-input {
    position   : absolute;
    margin-top : 0.3rem;
    margin-left: -1.25rem !important;
}

._sp-form-check-input[disabled]~._sp-form-check-label,
._sp-form-check-input:disabled~._sp-form-check-label {
    color: #6c757d;
}

._sp-form-check-label {
    margin-bottom: 0;
}

._sp-form-check-inline {
    display       : -ms-inline-flexbox;
    display       : inline-flex;
    -ms-flex-align: center;
    align-items   : center;
    padding-left  : 0;
    margin-right  : 0.75rem;
}

._sp-form-check-inline ._sp-form-check-input {
    position    : static;
    margin-top  : 0;
    margin-right: 0.3125rem;
    margin-left : 0;
}

._sp-valid-feedback {
    display   : none;
    width     : 100%;
    margin-top: 0.25rem;
    font-size : 80%;
    color     : #28a745;
}

._sp-valid-tooltip {
    position        : absolute;
    top             : 100%;
    z-index         : 5;
    display         : none;
    max-width       : 100%;
    padding         : 0.25rem 0.5rem;
    margin-top      : .1rem;
    font-size       : 0.875rem;
    line-height     : 1.5;
    color           : #fff;
    background-color: rgba(40, 167, 69, 0.9);
    border-radius   : 0.25rem;
}

._sp-was-validated :valid~._sp-valid-feedback,
._sp-was-validated :valid~._sp-valid-tooltip,
._sp-is-valid~._sp-valid-feedback,
._sp-is-valid~._sp-valid-tooltip {
    display: block;
}

._sp-was-validated ._sp-form-control:valid,
._sp-form-control.is-valid {
    border-color       : #28a745;
    padding-right      : calc(1.5em + 0.75rem);
    background-image   : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat  : no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size    : calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

._sp-was-validated ._sp-form-control:valid:focus,
._sp-form-control.is-valid:focus {
    border-color: #28a745;
    box-shadow  : 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

._sp-was-validated textarea._sp-form-control:valid,
textarea._sp-form-control.is-valid {
    padding-right      : calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

._sp-was-validated ._sp-custom-select:valid,
._sp-custom-select.is-valid {
    border-color : #28a745;
    padding-right: calc(0.75em + 2.3125rem);
    background   : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

._sp-was-validated ._sp-custom-select:valid:focus,
._sp-custom-select.is-valid:focus {
    border-color: #28a745;
    box-shadow  : 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

._sp-was-validated ._sp-form-check-input:valid~._sp-form-check-label,
._sp-form-check-input.is-valid~._sp-form-check-label {
    color: #28a745;
}

._sp-was-validated ._sp-form-check-input:valid~._sp-valid-feedback,
._sp-was-validated ._sp-form-check-input:valid~._sp-valid-tooltip,
._sp-form-check-input.is-valid~._sp-valid-feedback,
._sp-form-check-input.is-valid~._sp-valid-tooltip {
    display: block;
}

._sp-was-validated ._sp-custom-control-input:valid~._sp-custom-control-label,
._sp-custom-control-input.is-valid~._sp-custom-control-label {
    color: #28a745;
}

._sp-was-validated ._sp-custom-control-input:valid~._sp-custom-control-label::before,
._sp-custom-control-input.is-valid~._sp-custom-control-label::before {
    border-color: #28a745;
}

._sp-was-validated ._sp-custom-control-input:valid:checked~._sp-custom-control-label::before,
._sp-custom-control-input.is-valid:checked~._sp-custom-control-label::before {
    border-color    : #34ce57;
    background-color: #34ce57;
}

._sp-was-validated ._sp-custom-control-input:valid:focus~._sp-custom-control-label::before,
._sp-custom-control-input.is-valid:focus~._sp-custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

._sp-was-validated ._sp-custom-control-input:valid:focus:not(:checked)~._sp-custom-control-label::before,
._sp-custom-control-input.is-valid:focus:not(:checked)~._sp-custom-control-label::before {
    border-color: #28a745;
}

._sp-was-validated ._sp-custom-file-input:valid~._sp-custom-file-label,
._sp-custom-file-input.is-valid~._sp-custom-file-label {
    border-color: #28a745;
}

._sp-was-validated ._sp-custom-file-input:valid:focus~._sp-custom-file-label,
._sp-custom-file-input.is-valid:focus~._sp-custom-file-label {
    border-color: #28a745;
    box-shadow  : 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

._sp-invalid-feedback {
    display   : none;
    width     : 100%;
    margin-top: 0.25rem;
    font-size : 80%;
    color     : #dc3545;
}

._sp-invalid-tooltip {
    position        : absolute;
    top             : 100%;
    z-index         : 5;
    display         : none;
    max-width       : 100%;
    padding         : 0.25rem 0.5rem;
    margin-top      : .1rem;
    font-size       : 0.875rem;
    line-height     : 1.5;
    color           : #fff;
    background-color: rgba(220, 53, 69, 0.9);
    border-radius   : 0.25rem;
}

._sp-was-validated :invalid~._sp-invalid-feedback,
._sp-was-validated :invalid~._sp-invalid-tooltip,
._sp-is-invalid~._sp-invalid-feedback,
.is-invalid~._sp-invalid-tooltip {
    display: block;
}

._sp-was-validated ._sp-form-control:invalid,
._sp-form-control.is-invalid {
    border-color       : #dc3545;
    padding-right      : calc(1.5em + 0.75rem);
    background-image   : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat  : no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size    : calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

._sp-was-validated ._sp-form-control:invalid:focus,
._sp-form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow  : 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

._sp-was-validated textarea._sp-form-control:invalid,
textarea._sp-form-control.is-invalid {
    padding-right      : calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

._sp-was-validated ._sp-custom-select:invalid,
._sp-custom-select.is-invalid {
    border-color : #dc3545;
    padding-right: calc(0.75em + 2.3125rem);
    background   : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

._sp-was-validated ._sp-custom-select:invalid:focus,
._sp-custom-select.is-invalid:focus {
    border-color: #dc3545;
    box-shadow  : 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

._sp-was-validated ._sp-form-check-input:invalid~._sp-form-check-label,
._sp-form-check-input.is-invalid~._sp-form-check-label {
    color: #dc3545;
}

._sp-was-validated ._sp-form-check-input:invalid~._sp-invalid-feedback,
._sp-was-validated ._sp-form-check-input:invalid~._sp-invalid-tooltip,
._sp-form-check-input.is-invalid~._sp-invalid-feedback,
._sp-form-check-input.is-invalid~._sp-invalid-tooltip {
    display: block;
}

._sp-was-validated ._sp-custom-control-input:invalid~._sp-custom-control-label,
._sp-custom-control-input.is-invalid~._sp-custom-control-label {
    color: #dc3545;
}

._sp-was-validated ._sp-custom-control-input:invalid~._sp-custom-control-label::before,
._sp-custom-control-input.is-invalid~._sp-custom-control-label::before {
    border-color: #dc3545;
}

._sp-was-validated ._sp-custom-control-input:invalid:checked~._sp-custom-control-label::before,
._sp-custom-control-input.is-invalid:checked~._sp-custom-control-label::before {
    border-color    : #e4606d;
    background-color: #e4606d;
}

._sp-was-validated ._sp-custom-control-input:invalid:focus~._sp-custom-control-label::before,
._sp-custom-control-input.is-invalid:focus~._sp-custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

._sp-was-validated ._sp-custom-control-input:invalid:focus:not(:checked)~._sp-custom-control-label::before,
._sp-custom-control-input.is-invalid:focus:not(:checked)~._sp-custom-control-label::before {
    border-color: #dc3545;
}

._sp-was-validated ._sp-custom-file-input:invalid~._sp-custom-file-label,
._sp-custom-file-input.is-invalid~._sp-custom-file-label {
    border-color: #dc3545;
}

._sp-was-validated ._sp-custom-file-input:invalid:focus~._sp-custom-file-label,
._sp-custom-file-input.is-invalid:focus~._sp-custom-file-label {
    border-color: #dc3545;
    box-shadow  : 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

._sp-form-inline {
    display       : -ms-flexbox;
    display       : flex;
    -ms-flex-flow : row wrap;
    flex-flow     : row wrap;
    -ms-flex-align: center;
    align-items   : center;
}

._sp-form-inline ._sp-form-check {
    width: 100%;
}

@media (min-width: 576px) {
    ._sp-form-inline label {
        display        : -ms-flexbox;
        display        : flex;
        -ms-flex-align : center;
        align-items    : center;
        -ms-flex-pack  : center;
        justify-content: center;
        margin-bottom  : 0;
    }

    ._sp-form-inline ._sp-form-group {
        display       : -ms-flexbox;
        display       : flex;
        -ms-flex      : 0 0 auto;
        flex          : 0 0 auto;
        -ms-flex-flow : row wrap;
        flex-flow     : row wrap;
        -ms-flex-align: center;
        align-items   : center;
        margin-bottom : 0;
    }

    ._sp-form-inline ._sp-form-control {
        display       : inline-block;
        width         : auto;
        vertical-align: middle;
    }

    ._sp-form-inline ._sp-form-control-plaintext {
        display: inline-block;
    }

    ._sp-form-inline ._sp-input-group,
    ._sp-form-inline ._sp-custom-select {
        width: auto;
    }

    ._sp-form-inline ._sp-form-check {
        display        : -ms-flexbox;
        display        : flex;
        -ms-flex-align : center;
        align-items    : center;
        -ms-flex-pack  : center;
        justify-content: center;
        width          : auto;
        padding-left   : 0;
    }

    ._sp-form-inline ._sp-form-check-input {
        position         : relative;
        -ms-flex-negative: 0;
        flex-shrink      : 0;
        margin-top       : 0;
        margin-right     : 0.25rem;
        margin-left      : 0;
    }

    ._sp-form-inline ._sp-custom-control {
        -ms-flex-align : center;
        align-items    : center;
        -ms-flex-pack  : center;
        justify-content: center;
    }

    ._sp-form-inline ._sp-custom-control-label {
        margin-bottom: 0;
    }
}

/**** End BS Form Control Style ***/

/**** BS Button Style ***/
._sp-close {
    float      : right;
    font-size  : 1.5rem;
    font-weight: 700;
    line-height: 1;
    color      : #000;
    text-shadow: 0 1px 0 #fff;
    opacity    : .5;
}

._sp-close:hover {
    color          : #000;
    text-decoration: none;
}

._sp-close:not(:disabled):not(.disabled):hover,
._sp-close:not(:disabled):not(.disabled):focus {
    opacity: .75;
}

button._sp-close {
    padding         : 0;
    background-color: transparent;
    border          : 0;
}

a._sp-close.disabled {
    pointer-events: none;
}

/**** End BS Button Style ***/

/**** BS Accordion Style ***/

._sp-accordion>._sp-card {
    overflow: hidden;
}

._sp-accordion>._sp-card:not(:last-of-type) {
    border-bottom             : 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius : 0;
}

._sp-accordion>._sp-card:not(:first-of-type) {
    border-top-left-radius : 0;
    border-top-right-radius: 0;
}

._sp-accordion>._sp-card>._sp-card-header {
    border-radius: 0;
    margin-bottom: -1px;
}

/**** End BS Accordion Style ***/

/**** BS Accordion Style ***/

._sp-carousel {
    position: relative;
}

._sp-carousel._sp-pointer-event {
    -ms-touch-action: pan-y;
    touch-action    : pan-y;
}

._sp-carousel-inner {
    position: relative;
    width   : 100%;
    overflow: hidden;
}

._sp-carousel-inner::after {
    display: block;
    clear  : both;
    content: "";
}

._sp-carousel-item {
    position                   : relative;
    display                    : none;
    float                      : left;
    width                      : 100%;
    margin-right               : -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility        : hidden;
    transition                 : -webkit-transform 0.6s ease-in-out;
    transition                 : transform 0.6s ease-in-out;
    transition                 : transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    ._sp-carousel-item {
        transition: none;
    }
}

._sp-carousel-item.active,
._sp-carousel-item-next,
._sp-carousel-item-prev {
    display: block;
}

._sp-carousel-item-next:not(._sp-carousel-item-left),
.active._sp-carousel-item-right {
    -webkit-transform: translateX(100%);
    transform        : translateX(100%);
}

._sp-carousel-item-prev:not(._sp-carousel-item-right),
.active._sp-carousel-item-left {
    -webkit-transform: translateX(-100%);
    transform        : translateX(-100%);
}

._sp-carousel-fade ._sp-carousel-item {
    opacity            : 0;
    transition-property: opacity;
    -webkit-transform  : none;
    transform          : none;
}

._sp-carousel-fade ._sp-carousel-item.active,
._sp-carousel-fade ._sp-carousel-item-next._sp-carousel-item-left,
._sp-carousel-fade ._sp-carousel-item-prev._sp-carousel-item-right {
    z-index: 1;
    opacity: 1;
}

._sp-carousel-fade .active._sp-carousel-item-left,
._sp-carousel-fade .active._sp-carousel-item-right {
    z-index   : 0;
    opacity   : 0;
    transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {

    ._sp-carousel-fade .active._sp-carousel-item-left,
    ._sp-carousel-fade .active._sp-carousel-item-right {
        transition: none;
    }
}

._sp-carousel-control-prev,
._sp-carousel-control-next {
    position       : absolute;
    top            : 0;
    bottom         : 0;
    z-index        : 1;
    display        : -ms-flexbox;
    display        : flex;
    -ms-flex-align : center;
    align-items    : center;
    -ms-flex-pack  : center;
    justify-content: center;
    width          : 15%;
    color          : #fff;
    text-align     : center;
    opacity        : 0.5;
    transition     : opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {

    ._sp-carousel-control-prev,
    ._sp-carousel-control-next {
        transition: none;
    }
}

._sp-carousel-control-prev:hover,
._sp-carousel-control-prev:focus,
._sp-carousel-control-next:hover,
._sp-carousel-control-next:focus {
    color          : #fff;
    text-decoration: none;
    outline        : 0;
    opacity        : 0.9;
}

._sp-carousel-control-prev {
    left: 0;
}

._sp-carousel-control-next {
    right: 0;
}

._sp-carousel-control-prev-icon,
._sp-carousel-control-next-icon {
    display   : inline-block;
    width     : 20px;
    height    : 20px;
    background: no-repeat 50% / 100% 100%;
}

._sp-carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

._sp-carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

._sp-carousel-indicators {
    position       : absolute;
    right          : 0;
    bottom         : 0;
    left           : 0;
    z-index        : 15;
    display        : -ms-flexbox;
    display        : flex;
    -ms-flex-pack  : center;
    justify-content: center;
    padding-left   : 0;
    margin-right   : 15%;
    margin-left    : 15%;
    list-style     : none;
}

._sp-carousel-indicators li {
    box-sizing      : content-box;
    -ms-flex        : 0 1 auto;
    flex            : 0 1 auto;
    width           : 30px;
    height          : 3px;
    margin-right    : 3px;
    margin-left     : 3px;
    text-indent     : -999px;
    cursor          : pointer;
    background-color: #fff;
    background-clip : padding-box;
    border-top      : 10px solid transparent;
    border-bottom   : 10px solid transparent;
    opacity         : .5;
    transition      : opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
    ._sp-carousel-indicators li {
        transition: none;
    }
}

._sp-carousel-indicators .active {
    opacity: 1;
}

._sp-carousel-caption {
    position      : absolute;
    right         : 15%;
    bottom        : 20px;
    left          : 15%;
    z-index       : 10;
    padding-top   : 20px;
    padding-bottom: 20px;
    color         : #fff;
    text-align    : center;
}

/**** End BS Accordion Style ***/

/**** Extra BS Style ***/


._sp-align-items-center {
    -ms-flex-align: center !important;
    align-items   : center !important;
}

._sp-m-0 {
    margin: 0 !important;
}

._sp-mt-0,
._sp-my-0 {
    margin-top: 0 !important;
}

._sp-mr-0,
._sp-mx-0 {
    margin-right: 0 !important;
}

._sp-mb-0,
._sp-my-0 {
    margin-bottom: 0 !important;
}

._sp-ml-0,
._sp-mx-0 {
    margin-left: 0 !important;
}


._sp-modal-dialog {
    max-width: 400px;
    margin   : 1.75rem auto;
}

/**** End Extra BS Style ***/


/*************   Style Override *******************/

._sp-modal-dialog.sp-modal-dialog {
    max-width : 850px;
    max-height: 548px;
    margin    : 1.75rem auto;
}

._sp-modal-content.sp-modal-main-content {
    border-radius: unset;
}

hr.sp-hr {
    display   : block;
    height    : 1px;
    border    : 0;
    border-top: 1px solid rgba(0, 0, 0, .125);
    margin    : 1em 0;
    padding   : 0;
}

/*** Payment Modal Header **/

._sp-modal-header {
    padding      : 0;
    border-bottom: unset;
}

._sp-modal-header .sp-header ._sp-close {
    padding : 0rem 0.5rem;
    margin  : 0;
    position: absolute;
    right   : 0;
    width: 40px;
    height: 40px;
}

.sp-header {
    /* background: linear-gradient(to right, var(--header-color), var(--menu-color)); */
    width     : 100%;
    box-shadow: 0px 3px 6px #00000029;
    text-align: center;
}

.sp-close-btn {
    border-radius: 50%;
    border       : 1px solid #008aff;
    padding      : 1px 5px;
    font-size    : 15px;
    color        : #008aff;
}

.sp-header-background {
    /* background   : linear-gradient(to right, var(--header-color) 50%, var(--menu-color)); */
    background   : var(--header-color);
    height       : 50px;
    border-radius: 5px;
}


.sp-logo-img {
    height: 60px;
}

.sp-logo-amount-container {
    position: absolute;
    top     : 15px;
    display : flex;
    width   : 100%;
}

.sp-logo-amount-container .sp-small-logo {
    padding: 5px 0px 5px 20px;
}

.sp-logo-amount-container .sp-small-logo img {
    height          : 80px;
    border          : 5px solid #fff;
    border-radius   : 3px;
    /* margin       : 5px 15px 5px 20px; */
    box-shadow      : 0px 3px 3px #ddd;
}

.sp-logo-amount-container .sp-logo-amount {
    padding: 5px;
    width  : 100%;
}

.sp-logo-amount-container .sp-logo-amount .sp-full-logo {
    margin-bottom: 10px;
    padding-left : 10px;
}

.sp-logo-amount-container .sp-logo-amount .sp-full-logo img {
    height: 25px;
}

.sp-logo-amount-container .sp-logo-amount .sp-total-amount {
    border         : 1px solid #ccc;
    box-shadow     : 0px 2px 2px #ddd;
    padding        : 5px 10px;
    border-radius  : 3px;
    display        : flex;
    justify-content: space-between;
}

.sp-order-div {
    margin-top   : 5px;
    margin-bottom: 5px;
    font-size    : 0.6rem;
    padding-left : 5px;
}

.sp-order-div .sp-order-id-text {
    font-size       : 0.8rem;
    color           : #0058A3;
    margin-bottom   : 1px;
    line-height     : 0.6rem;
    font-family     : var(--sp-font-family);
    /* margin-bottom: 15px; */
    margin-bottom   : 25px;
}

.sp-order-div .sp-order-id-value {
    font-size    : 0.8rem;
    color        : #0058A3;
    margin-bottom: 1px;
    line-height  : 0.6rem;
    font-family  : var(--sp-font-family);
}

.sp-logo-amount-container .sp-logo-amount .sp-total-amount .sp-total-amount-text {
    font-size    : 0.55rem;
    color        : #999;
    margin-bottom: 1px;
    line-height  : 0.6rem;
    font-family  : var(--sp-font-family);
}

.sp-logo-amount-container .sp-logo-amount .sp-total-amount .sp-total-amount-value {
    font-size    : 1.4rem;
    color        : #808080;
    margin-bottom: 0;
    line-height  : 1.7rem;
    font-family  : var(--sp-font-family);
    font-weight  : 600;
}

.sp-content-back-label {
    font-family      : var(--sp-font-family);
    color            : #555555;
    text-transform   : uppercase;
    font-size        : 0.8rem;
    /* margin-bottom : unset; */
}

.sp-vertical-center {
    position : relative;
    transform: translate(0, -50%);
    top      : 50%;
}

.sp-btn {
    /* background    : linear-gradient(to right, var(--header-color), var(--menu-color)); */
    background       : var(--header-color);
    padding          : 10px 50px;
    color            : #fff;
    font-family      : var(--sp-font-family);
    font-size        : 0.8rem;
    /* text-transform: uppercase; */
    border-radius    : unset;
}

.sp-btn:hover {
    color          : #fff;
    text-decoration: none;
    opacity        : 0.9;
}

.sp-btn:disabled:hover,
sp-btn.disabled:hover {
    opacity: 0.9;
}

.sp-pay-now-div {
    text-align    : center;
    padding-top   : 10px;
    padding-bottom: 10px;
}

.sp-selected-option {
    box-shadow: 0px 3px 3px #ddd;
}

.sp-accordion .sp-right-arrow .fa {
    transform: rotate(180deg);
    top      : 15%;
}

.sp-accordion.collapsed .sp-right-arrow .fa {
    transform: rotate(0deg);
    top      : 15%;
}



/*** Payment Modal Body **/

.sp-modal-body {
    padding      : 10px;
    /* margin-top: 10px; */
    height       : 400px;
    overflow     : hidden;
    overflow-y   : scroll;
}

.sp-modal-content {
    /* background-color: var(--background-color); */
    border-radius: 4px;
}


/*** Payment Content Screen **/

.sp-content-label {
    font-family      : var(--sp-font-family);
    color            : #505050;
    /* text-transform: uppercase; */
    font-size        : 0.8rem;
    margin-bottom    : unset;
    margin-top       : 10px;
    padding-left     : 5px;
}

fieldset._sp-scheduler-border {
    border               : 1px groove #00000040 !important;
    padding           : 0.32rem 0.75rem 0.75rem 0.65rem !important;
    margin               : 0 0 1.5em 0 !important;
    -webkit-box-shadow   : 0px 0px 0px 0px #00000040;
    box-shadow           : 0px 0px 0px 0px #00000040;
    border-radius        : 5px;
}

legend._sp-scheduler-border {
    font-size    : 0.8rem !important;
    text-align   : left !important;
    width        : auto;
    padding      : 0 5px;
    border-bottom: none;
    color        : #0058A3;
    font-family  : var(--sp-font-family);
    margin-bottom: unset;
}


/*** Toggle Switch Style **/
._sp-switch {
    position: relative;
    display : inline-block;
    width   : 40px;
    height  : 20px;
}

._sp-switch input {
    opacity: 0;
    width  : 0;
    height : 0;
}

._sp-slider {
    position          : absolute;
    cursor            : pointer;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background-color  : #ccc;
    -webkit-transition: .4s;
    transition        : .4s;
}

._sp-slider:before {
    position          : absolute;
    content           : "";
    height            : 15px;
    width             : 15px;
    left              : 3px;
    bottom            : 3px;
    background-color  : white;
    -webkit-transition: .4s;
    transition        : .4s;
}

input:checked+._sp-slider {
    background-color: var(--header-color);
}

input:focus+._sp-slider {
    box-shadow: 0 0 1px var(--header-color);
}

input:checked+._sp-slider:before {
    -webkit-transform   : translateX(20px);
    -ms-transform       : translateX(20px);
    transform           : translateX(20px);
    /* -webkit-transform: translateX(38px);
    -ms-transform       : translateX(38px);
    transform           : translateX(38px); */
}

/* Rounded sliders */
._sp-slider._sp-round {
    border-radius: 34px;
}

._sp-slider._sp-round:before {
    border-radius: 50%;
}

/*** End Toggle Switch Style **/



/************ Loader ****************/

._sp-lds-dual-ring {
    display: inline-block;
    width  : 80px;
    height : 80px;
}

._sp-lds-dual-ring:after {
    content      : " ";
    display      : block;
    width        : 64px;
    height       : 64px;
    margin       : 8px;
    border-radius: 50%;
    border       : 6px solid var(--header-color);
    border-color : var(--header-color) transparent var(--header-color) transparent;
    animation    : lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

._sp-lds-dual-ring-sm {
    /* display: inline-block; */
    width : 30px;
    height: 30px;
}

._sp-lds-dual-ring-sm:after {
    content      : " ";
    display      : block;
    width        : 20px;
    height       : 20px;
    margin       : 1px;
    border-radius: 50%;
    border       : 2px solid #fff;
    border-color : #fff transparent #fff transparent;
    animation    : lds-dual-ring 1.2s linear infinite;
}

/*--------Accordion-------*/
._sp-acc-kontainer {
    width        : 100%;
    margin-bottom: 0.5rem;
}

._sp-acc-kontainer ._sp-acc-body {
    /* width           : 98%;
    width           : calc(100% - 20px); */
    /* margin       : 0 auto;
    height          : 0;
    color           : rgba(0, 0, 0, 0);
    ;
    background-color: rgba(255, 255, 255, 0.2);
    line-height     : 28px; */
    padding   : 0 10px;
    box-sizing: border-box;
    transition: 0.5s;
    display   : none;
}

._sp-acc-kontainer label._sp-acc-label {
    cursor          : pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom   : 1px solid rgba(255, 255, 255, 0.1);
    display         : block;
    padding-right   : 10px;
    width           : 100%;
    color           : #000;
    font-weight     : 400;
    box-sizing      : border-box;
    z-index         : 100;
}

._sp-acc-kontainer ._sp-acc-input {
    display: none;
}

/* .acc-kontainer label:before {
    font-family: 'FontAwesome';
    content    : '\f067';
    font-weight: bolder;
    float      : right;
} */

._sp-acc-kontainer ._sp-acc-input:checked+label {
    background-color: rgba(255, 255, 255, 0.15);
}

/* .acc-kontainer input:checked+label:before {
    font-family: 'FontAwesome';
    content    : '\f00d';
    transition : 0.5s;
} */

._sp-acc-kontainer ._sp-acc-input:checked~._sp-acc-body {
    height       : auto;
    color        : #505050;
    /* font-size : 16px;
    padding      : 20px; */
    transition   : 0.5s;
    display      : block;
}

.sp-acc-label {
    display        : flex;
    justify-content: space-between;
}

.sp-acc-icon {
    color         : #666666;
    /* padding-top: 5px; */
}

.sp-acc-icon img {
    width: 0.8rem;
}

/********* End Accordion Style *************/

/*** Payment From Style **/

.sp-modal-content .sp-form {
    padding: 5px;
}


.sp-form ._sp-form-group {
    /* margin-top   : 1.05rem; */
    margin-bottom: 0.5rem;
}


.sp-form ._sp-form-group .sp-form-label {
    font-size  : 0.8rem;
    color      : #505050;
    font-family: var(--sp-font-family);
}

.sp-form-check-label {
    font-family: var(--sp-font-family);
    font-size  : 0.7rem;
    color      : #666666;
    padding-top: 4px;
}

.sp-form ._sp-form-group ._sp-form-control {
    /* padding-left : 2rem; */
    border-radius: unset;
    font-family  : var(--sp-font-family);
    font-size    : 0.8rem;
}

.sp-form ._sp-form-group ._sp-form-control-icon {
    position      : absolute;
    z-index       : 2;
    display       : block;
    width         : 2rem;
    height        : 2rem;
    line-height   : 2.375rem;
    text-align    : center;
    pointer-events: none;
    color         : var(--menu-color);
    font-size     : 0.8rem;
}

.sp-form ._sp-form-group.sp-has-error ._sp-form-control {
    border-color: #ff0000;
}

.sp-form ._sp-form-group ._sp-form-control.sp-has-error {
    border-color: #ff0000;
}

.sp-form ._sp-form-group .sp-error-text {
    display: none;
}

.sp-form ._sp-form-group.sp-has-error .sp-error-text {
    color        : #ff0000;
    font-size    : 0.8rem;
    float        : right;
    margin-bottom: unset;
    display      : block;
    font-family  : var(--sp-font-family);
}

.sp-form ._sp-form-group .sp-error-text {
    color        : #ff0000;
    font-size    : 0.8rem;
    float        : right;
    margin-bottom: unset;
    display      : block;
    font-family  : var(--sp-font-family);
}

.sp-form ._sp-form-group.sp-has-error ._sp-form-control-icon {
    /* margin-top: 1.1rem; */
}

.sp-modal-content .sp-contact-proceed-div {
    text-align: center;
    padding   : 30px 50px 60px 50px;
}


.sp-select-payment-mode-div {
    background-color: #EFF9FD;
    padding         : 20px;
    border-radius   : 4px;
}

.sp-select-payment-mode-div .sp-select-payment-mode-content {
    display        : flex;
    justify-content: space-between;
    font-family    : var(--sp-font-family);
    color          : var(--menu-color);
    text-transform : uppercase;
}

/*** Select Payment Mode Screen (Side Menu)  **/

.sp-payment-methods-list {
    padding: 5px;
}

.sp-payment-methods-list .sp-payment-methods-item {
    background     : #ffffff;
    display        : flex;
    justify-content: space-between;
    padding        : 3px 5px;
    color          : var(--header-color);
    margin-bottom  : 0.3rem;
    box-shadow     : 0px 3px 6px #0000000D;
    cursor         : pointer;
}

.sp-payment-methods-list .sp-payment-methods-item.active {
    background: var(--header-color);
    color     : #ffffff;
}

.sp-payment-methods-list .sp-payment-methods-item .sp-payment-mode {
    display        : flex;
    justify-content: space-between;
    padding        : 3px 5px;
}

.sp-payment-methods-item .sp-payment-mode .sp-payment-mode-icon-div {
    /* background-color: #CEE7F5; */
    padding: 3px;
    height : 25px;
    width  : 25px;
}

.sp-payment-methods-item .sp-payment-mode .sp-payment-mode-icon-div img {
    /* width   : 1.5rem;
    height  : 1.5rem; */
    top     : 2px;
    position: relative;
}

.sp-payment-methods-item .sp-payment-mode .sp-payment-mode-icon-div img.sp-card-img {
    display: block;
}

.sp-payment-methods-item.active .sp-payment-mode .sp-payment-mode-icon-div img.sp-card-img {
    display: none;
}

.sp-payment-methods-item.active .sp-payment-mode .sp-payment-mode-icon-div img.sp-card-img-active {
    display: block;
}

.sp-payment-methods-item .sp-payment-mode .sp-payment-mode-icon-div img.sp-card-img-active {
    display: none;
}

.sp-payment-methods-list .sp-payment-methods-item .fa {
    color: var(--menu-color);
}

.sp-payment-methods-list .sp-payment-methods-item.active .sp-payment-mode .sp-payment-mode-name {
    color: #ffffff;
}

.sp-payment-methods-list .sp-payment-methods-item .sp-payment-mode .sp-payment-mode-name {
    padding-left: 10px;
    padding-top : 3px;
    font-family : var(--sp-font-family);
    color       : var(--header-color);
    font-size   : 0.75rem;
}

.sp-payment-methods-list .sp-payment-methods-item .sp-payment-mode .sp-payment-mode-name span {
    text-transform: lowercase;
}




/* ***************** Card Payment Screen **************** */

.sp-card-control {
    border       : 0;
    background   : transparent;
    border-bottom: 1px solid #ccc;
    border-radius: unset;
    line-height  : 0.4rem;
    height       : 0.7rem;
    color        : #fff;
    font-size    : 0.5rem;
    font-family  : var(--sp-font-family);
}

.sp-card-control:focus {
    background: transparent;
    color     : #fff;
    font-size : 0.7rem;
}

.sp-card-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color    : #ccc;
    opacity  : 1;
    font-size: 0.7rem;
    /* Firefox */
}

.sp-card-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color    : #ccc;
    font-size: 0.7rem;
}

.sp-card-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color    : #ccc;
    font-size: 0.7rem;
}

.sp-card-control-label {
    font-size  : 0.5rem;
    padding-top: 2px;
    font-family: var(--sp-font-family);
}

.sp-payment-list {
    padding    : 2px;
    display    : flex;
    max-width  : 440px;
    overflow-x : auto;
    white-space: nowrap;
}

.sp-payment-list-item {
    /* background     : linear-gradient(to right, var(--header-color), var(--menu-color)); */
    background        : var(--header-color);
    display           : flex;
    justify-content   : space-between;
    padding           : 2px 10px;
    color             : #fff;
    border-radius     : 5px;
    /* margin-bottom  : 1rem; */
    width             : 180px;
    border-radius     : unset;
    margin-right      : 5px;
}

.sp-payment-list-item .sp-payment-list-item-card {
    display   : flex;
    /* padding: 5px; */
}

.sp-payment-list-item .sp-payment-list-item-card img {
    height       : 25px;
    width        : 35px;
    border-radius: 3px;
    margin-top   : 10px;
}

.sp-payment-list-item .sp-payment-list-item-card .sp-card-details {
    padding-left: 5px;
    font-size   : 0.7rem;
}

.sp-payment-list-item .sp-payment-list-item-card .sp-card-details .sp-card-type-name {
    text-transform: uppercase;
}

.sp-payment-list-item .sp-payment-list-item-card .sp-card-details .sp-card-number {
    color            : #FFDB00;
    font-family      : var(--sp-font-family);
    /* letter-spacing: 2px;  */
    /* Uncomment for FS Mathew font*/
}

.sp-exchange-rate-div {
    font-size  : 0.6rem;
    font-family: var(--sp-font-family);
}

.sp-currency-convert-div {
    font-size  : 0.7rem;
    display    : flex;
    font-family: var(--sp-font-family);
}

.sp-amount-heading {
    font-size  : 0.75rem;
    color      : var(--header-color);
    font-family: var(--sp-font-family);
}

.sp-amount-text {
    color      : var(--header-color);
    font-family: var(--sp-font-family);
    font-size  : 1.35rem;
    font-weight: bold;
}

.sp-card-type-icon {
    right   : 20px;
    top     : 3px;
    position: absolute;
}

.sp-card-type-icon img {
    height: 1rem;
}
.sp-cvv-info-icon img{
    height: 20px;
}
.sp-cvv-info-modal{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.5);
}
.sp-cvv-info-modal .sp-cvv-info-modal-content{
    padding: 10px;
    width: 50%;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 3px;
}
.sp-cvv-info-modal .sp-cvv-info-modal-content .sp-cvv-info-title{
    border-bottom: 1px solid #ccc;
    font-family: var(--sp-font-family);
}
.sp-cvv-info-modal .sp-cvv-info-modal-content .sp-cvv-info-content{
    font-family: var(--sp-font-family);
}
.sp-cvv-close-btn {
    top: -13px;
    position: relative;
    right: -5px;
}
/****** EPP Card Payment Screen *******/

.sp-epp-acc-title.active {
    color: #0058A3;
}

.sp-epp-acc-title.active .sp-epp-option-available {
    color    : #0058A3;
    font-size: 0.8rem;
}

.sp-epp-body {
    padding-top   : 2rem;
    padding-bottom: 0.5rem;
}

.sp-epp-body ._sp-epp-content-text {
    font-size  : 0.55rem;
    font-family: var(--sp-font-family);
}

.sp-epp-body .sp-epp-emi-radio {
    margin-top: 0rem;
}

.sp-epp-body .sp-epp-emi-options {
    background-color: #fafafa;
    font-size       : 0.55rem;
    padding-top     : 2px;
    padding-bottom  : 2px;
    font-family     : var(--sp-font-family);
    width           : 50%;
}

.sp-emi-radio.active {
    background-color: #c1c1c1;
}

.sp-emi-radio.active .sp-epp-emi-options {
    background-color: #c1c1c1;
}

.sp-epp-body .sp-epp-emi-options .sp-epp-emi-months {
    color: #000;
}

.sp-epp-body .sp-epp-emi-options .sp-epp-emi-rate {
    font-size: 0.45rem;
}

.sp-emi-breckdown {
    background-color: #C1C1C1;
}

.sp-emi-breckdown-label-text {
    font-size : 0.55rem;
    margin-top: 0;
}

.sp-emi-breckdown-icon {
    padding: 5px;
    float  : right;
}

.sp-emi-breckdown-icon img {
    width: 0.6rem;

}

.sp-emi-breckdown-body {
    font-size  : 0.5rem;
    font-family: var(--sp-font-family);
    width      : 100% !important;
}

/* For Emi Options */
.sp-card-body {
    -ms-flex  : 1 1 auto;
    flex      : 1 1 auto;
    min-height: 1px;
    /* padding: 1.25rem; */
}

._sp-radio-emi {
    list-style-type: none;
    padding        : 0;
    margin         : 0;
}

._sp-radio-emi li {
    margin-bottom: 2px;
    display      : block;
    font-family  : var(--sp-font-family);
}

._sp-radio-div {
    width  : 50%;
    display: inline-flex;
}

._sp-radio-emi ._sp-tlabel {
    width       : auto;
    margin-right: 0;
    color       : #848484;
    float       : left;
    display     : contents;
}

._sp-tradio {
    margin-right: 25px;
    margin-top  : 3px;
    float       : left;
}

._sp-collapse ._sp-tradio {
    margin-right: 5px;
}

._sp-emi-ct {
    background-color: #FAFAFA;
    display         : inline-block;
    margin          : 0;
    height          : 20px;
    padding         : 0 6px;
    width           : 215px;
    font-family     : var(--sp-font-family);
}

._sp-emi-ct.active {
    background-color: #c1c1c1;
}

._sp-label-emi {
    font-size   : 0.55rem;
    color       : #100000;
    margin-right: 15px;
    width       : 110px;
    float       : left;
    margin-top  : 2px;
}

._sp-emi-detail-div {
    padding-left: 0;
    font-size   : 9px;
    color       : #000;
    float       : right;
    width       : 45%;
    position    : absolute;
    top         : 0;
    right       : 0;
}

._sp-clearfix::after {
    display: block;
    clear  : both;
    content: "";
}

.sp-accordion {
    overflow-anchor: none;
}

.sp-card {
    position          : relative;
    display           : -ms-flexbox;
    display           : flex;
    -ms-flex-direction: column;
    flex-direction    : column;
    min-width         : 0;
    word-wrap         : break-word;
    background-color  : #fff;
    background-clip   : border-box;
    border            : 1px solid rgba(0, 0, 0, .125);
    border-radius     : .25rem;
}

.sp-accordion>.sp-card {
    overflow: hidden;
}

._sp-emi-detail-div .sp-card {
    padding         : 0;
    background-color: #C1C1C1;
    border-radius   : 0;
}

._sp-emi-detail-div .sp-card-header {
    padding         : 0;
    background-color: #C1C1C1;
}

._sp-tab-form1 .sp-card-header {
    padding-top   : 0;
    padding-bottom: 0;
}

._sp-emi-detail-div .sp-accordion>.sp-card>.sp-card-header {
    border-radius: 0;
    margin-bottom: 2px;
}

._sp-emi-detail-div .sp-card>hr {
    margin: -2px 4px;
}

._sp-emi-detail-div ._sp-btn-link.focus,
._sp-emi-detail-div ._sp-btn-link:focus {
    outline        : 0;
    box-shadow     : none;
    text-decoration: none;
}

._sp-emi-detail-div ._sp-btn-link {
    float      : left;
    color      : #212529;
    outline    : none;
    cursor     : default !important;
    font-weight: 400;
}

._sp-emi-detail-div h6 {
    line-height: 1;
    padding    : 0;
    margin     : 0;
    font-size  : 1rem;
    font-family: var(--sp-font-family);
}

._sp-emi-detail-div h6 button {
    font-size      : 9px;
    text-decoration: underline !important;
}


._sp-emi-detail-div .sp-card-body {
    padding: 10px;
}

._sp-em-deails p {
    float        : left;
    margin-bottom: unset;
}

._sp-em-deails span {
    float: right;
}

._sp-radio-emi li span {
    font-size: 0.5rem;
    color    : #828282;
}

._sp-radio-emi li .sp-emi-rate {
    font-size: 0.5rem;
    color    : #828282;
    position : relative;
    top      : -5px;
}

._sp-emi-detail-div .sp-card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

._sp-emi-detail-div .sp-card-footer {
    padding         : 5px 0;
    margin-top      : 10px;
    background-color: transparent;
    font-weight     : bold;
    border-top      : 1px solid rgba(0, 0, 0, .125);
}

.sp-collapse {
    transition        : 0.5s;
    -webkit-transition: .5s;
    display           : none;
}

.sp-collapse.show {
    display: block;
}

@media (max-width: 480px) {
    ._sp-tab-form1 .sp-card-body {
        padding-left : 10px;
        padding-right: 10px;
    }
}

@media (max-width: 640px) {
    ._sp-radio-div {
        float  : none;
        width  : 100%;
        display: block;
    }

    ._sp-emi-detail-div {
        float      : none;
        width      : 100%;
        position   : initial;
        margin-left: 25px;
    }

    ._sp-emi-ct {
        display    : inherit;
        margin-left: 25px;
        width      : 100%;
    }
}


/****** Net Banking Screen *******/

.sp-net-bank-list {
    padding: 20px;
}

.sp-net-bank-list .sp-net-bank-item {
    padding: 5px;
}

.sp-net-bank-list .sp-net-bank-item-div {
    padding         : 10px;
    background-color: #fff;
    border          : 1px solid #e5e5e5;
}

.sp-net-bank-list .sp-net-bank-item-div.active {
    box-shadow: 0px 3px 6px #0000001A;
    border    : 0.5px solid #0058A34D;
}

.sp-net-bank-list .sp-net-bank-item img {
    height       : 2.5rem;
    margin-bottom: 0.5rem;
    max-width    : 85%;
}

.sp-net-bank-list .sp-net-bank-item p {
    margin-bottom: unset;
    font-family  : var(--sp-font-family);
    font-size    : 0.5rem;
    color        : #9a9a9a;
}

.sp-select-control {
    border-radius: unset;
    font-family  : var(--sp-font-family);
    font-size    : 0.7rem;
    color        : #9a9a9a;
}


/******** UPI Screen ********/

.sp-upi-text {
    font-family: var(--sp-font-family);
    font-size  : 0.8rem;
}

.sp-upi-form-div {
    display         : flex;
    /* border       : 1px solid #9a9a9a; */
    border-radius   : 5px;
    padding         : 10px;
}

.sp-upi-form-div .sp-upi-icon {
    height: 40px;
}

.sp-upi-form-div .sp-upi-heading {
    margin-bottom: 0;
}

.sp-upi-form-div .sp-upi-sub-heading {
    font-size: 0.8rem;
    color    : #666;
}

.sp-scan-qrcode-div {
    text-align: center;
}

.sp-scan-qrcode-div .sp-upi-qrcode-img {
    height: 140px;
}

.sp-scan-qrcode-div .sp-qrcode-download-div {
    text-align: center;
    padding   : 10px
}

.sp-scan-qrcode-div .sp-qrcode-download-div .sp-qrcode-download-btn {
    border-color: var(--header-color);
    color       : var(--header-color);
}

.sp-scan-qrcode-div .sp-qrcode-download-div .sp-qrcode-download-btn:hover {
    background-color: var(--header-color);
    color           : #ffffff;
}

/******** Transaction Response Screen ********/

.sp-response-content {
    padding   : 2rem 3rem;
    text-align: center;
}

.sp-response-content .sp-transaction-details {

    /* margin-bottom : 1.5rem; */
}

.sp-response-content .sp-transaction-details h6 {
    color         : var(--header-color);
    text-transform: uppercase;
    font-family   : var(--sp-font-family);
    font-size     : 0.8rem;
    margin-bottom : unset;
}

.sp-response-content .sp-transaction-details .sp-total-amount-value {
    color        : var(--header-color);
    font-size    : 2rem;
    margin-bottom: 0;
    font-family  : var(--sp-font-family);
    font-weight  : 600;
}

.sp-response-content .sp-response-icon {
    font-size    : 6rem;
    color        : var(--header-color);
    margin-bottom: 1rem;
}

.sp-response-content .sp-response-icon img {
    width: 9rem;
}

.sp-response-content .sp-response-message h6 {
    color         : var(--header-color);
    text-transform: uppercase;
    font-family   : var(--sp-font-family);
    font-size     : 0.8rem;
    margin-bottom : unset;
    font-weight   : 600;
}

.sp-response-content .sp-response-message p {
    color        : var(--header-color);
    font-family  : var(--sp-font-family);
    font-size    : 0.7rem;
    margin-bottom: unset;
    font-weight  : 600;
}


/***** Transaction Failed ***/

#sp-failed-payment .sp-response-content .sp-transaction-details h6 {
    text-transform: unset;
    font-size     : 0.9rem;
    font-weight   : normal;
}

.sp-response-content .sp-transaction-details._sp-failed h6 {
    color: #9a9a9a;
}

.sp-response-content .sp-transaction-details._sp-failed .sp-total-amount-value {
    color: #9a9a9a;
}

.sp-response-content .sp-response-icon._sp-failed {
    color: #C30000;
}

.sp-response-content .sp-response-message._sp-failed h6 {
    color         : #C30000;
    margin-bottom : 10px;
    margin-top    : 5px;
    font-weight   : normal;
    text-transform: none;
}

.sp-response-content .sp-response-message._sp-failed p {
    color      : #C30000;
    font-family: var(--sp-font-family);
    font-size  : 0.8rem;
    font-weight: normal;

}

#sp-footer-btn-retry {
    padding: 10px 100px;
}

.sp-payment-proccess-container {
    padding-top   : 3rem;
    padding-bottom: 2rem;
    font-family   : var(--sp-font-family);
}

.sp-response-content .sp-response-message._sp-failed .sp-tip {
    color: #6E6E6E;
}

/*********** Tabby Payment Style *************/
.sp-tabby-heading {
    padding-left : 5px;
    padding-right: 5px;
}

.sp-tabby-heading .sp-tabby-heading-text {
    color      : #505050;
    font-size  : 0.7rem;
    font-family: var(--sp-font-family);
}

.sp-tabby-terms ._sp-form-check-label {
    font-size  : 0.8rem;
    font-family: var(--sp-font-family);
}

/*********** End Tabby Payment Style *************/

/*********** Tabby Payment Style *************/
._sp-back-from-tabby ._sp-back-text {
    color      : #505050;
    font-size  : 0.9rem;
    font-family: var(--sp-font-family);
}

._sp-back-from-tabby ._sp-back-text img {
    width: 1rem;
}

.sp-tabby-btn {
    /* background    : linear-gradient(to right, var(--header-color), var(--menu-color)); */
    background    : #3EEDBF;
    padding       : 10px 40px;
    color         : #000;
    font-family   : var(--sp-font-family);
    font-size     : 0.8rem;
    text-transform: uppercase;
    border-radius : unset;
}

.sp-tabby-pay-option-details p {
    font-size    : 0.7rem;
    font-family  : var(--sp-font-family);
    color        : #909090;
    margin-bottom: unset;
}

/*********** End Tabby Payment Style *************/

/*********** Apple Pay Payment Style *************/
.sp-applepay-heading-text {
    color      : #505050;
    font-size  : 0.9rem;
    font-family: var(--sp-font-family);
}

/*********** End Tabby Payment Style *************/

/*********** Footer Style *************/
.sp-footer-poweredby-text {
    color      : #848484;
    font-size  : 0.7rem;
    font-weight: bold;
    font-family: var(--sp-font-family);
}

.sp-poweredby-img {
    height: 25px;
}
.sp-poweredby-img-2 {
    height: 27px;
}

.sp-footer-logo-div {
    border-right : solid 1px #ccc;
    padding-right: 10px;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    .sp-col-sm-6 {
        -ms-flex : 0 0 50%;
        flex     : 0 0 50%;
        max-width: 50%;
    }

    .sp-btn {
        padding: 10px 20px;
    }

    #sp-footer-btn-tabby-continue {
        margin-left: 1.5rem;
    }

    #sp-footer-btn-tabby {
        margin-left: 1.5rem;
    }

    ._sp-acc-kontainer ._sp-acc-body {
        padding: 0;
        width  : calc(100% - 0px);
    }

    .sp-response-content {
        padding   : 1rem 1rem;
        text-align: center;
    }

    #sp-footer-btn-retry {
        padding: 10px 50px;
    }

    .sp-epp-body .sp-epp-emi-radio {
        margin-top: 0rem;
    }

    .sp-emi-calculation-content {
        padding-top: 20px;
    }
}
@media (max-width: 379px) {
    ._sp-modal-footer{
        
    align-items: normal;
    flex-wrap: inherit;
    text-align: center;
    }
}
.red {
    color: red;
    font-weight: bold;
}
.tab-form {
    padding: 20px 50px;
    min-height: 400px;
}
.tab-text {
    text-align: left;
    font-size: 12px;
    color: #0058A3;
    background-color: #fff;
    position: relative;
    z-index: 100;
    top: -12px;
    left: 20px;
    display: initial;
    width: auto;
}
.para-text {
    font-size: 12px;
    color: #505050;
    margin-bottom: 10px;
}
.cd-txt {
    font-size: 12px;
    color: #000;
    margin-top: 10px;
    width: 200px;
}


/* -------- wallet & gift card  ------*/
.list-group-item.active .head-icon {
    fill: #fff;
}

.wallet-form {
    padding: 30px 20px;
}

.walletDiv li {
    width: 25%;
    float: left;
    cursor: pointer;
}

.wallet_bg {
    border: 0.5px solid #0000001A;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000005;
    padding: 16px;
    margin-right: 20px;
    margin-bottom: 10px;
    height: 91px;
}

.img-text-content {
    text-align: center;
}

.img-text-content h6 {
    font-family: 'Ubuntu';
    font-size: 10px;
    color: #9A9A9A;
}

.img-text-content img {
    margin-bottom: 10px;
    height: 37px;
}

.imgDiv {
    height: 48px;
}

.img-text-content .beam-img {
    height: 24px;
    margin-top: 8px;
}

.img-text-content .applepay-img {
    height: 30px;
    margin-top: 7px;
}

.img-text-content .gpay-img {
    height: 26px;
    margin-top: 8px;
}

.no-pd {
    padding: 0;
}

.mi-hi {
    min-height: 250px;
}

.wal-min-wid {
    min-width: 115px;
}

.sp-error-text {
    color: #FF0000;
    font-size: 10px;
    display: none;
}

.err .input-box {
    border-color: #FF0000;
}

.img-active {
    display: none;
}

.list-group-item.active .head-icon {
    display: none;
}

.list-group-item.active .img-active {
    display: block;
}

.no-martop {
    margin-top: 0;
}

.wallet-card-Bal {
    display: none;
    color: #0058A3;
}

.wallet-card-Bal .cd-txt {
    color: #0058A3;
}

/*------ toggle on off ---------*/

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 15px;
    margin-top: 4px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cecece;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0058A3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.on {
    display: none;
}

.on,
.off {
    color: white;
    position: absolute;
    transform: translate(-25%, -49%);
    top: 49%;
    left: 25%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

.off {
    transform: translate(-65%, -49%);
    left: 65%;
}

input:checked+.slider .on {
    display: block;
}

input:checked+.slider .off {
    display: none;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*------ toggle on off ---------*/

.btn-block.ct-bt {
    margin-top: 30px;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #cecece;
    border-color: #cecece;
}

.fablogo {
    border-right: 1px solid #707070;
    padding-right: 10px;
}

.payservelogo {
    padding-left: 5px;
    height: 27px;
}

.header ._sp-close {
    padding: 0rem 0.5rem;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;
}

.sp-close-btn {
    border-radius: 50%;
    border: 1px solid #008aff;
    padding: 1px 5px;
    font-size: 15px;
    color: #008aff;
}

.check {
    float: right;
}

@media all and (max-width: 1199px) and (min-width: 768px) {
    .cc-txt {
        width: 130px;
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .cc-txt {
        width: 130px;
    }
}
@media (max-width: 640px) {

    /* -------- wallet & gift card  ------*/
    .walletDiv li {
        width: 33.33%;
    }
}
@media (max-width: 767px) {
    .tab-form {
        padding: 30px;
        min-height: 400px;
    }
}
@media (max-width: 480px) {
    .tab-form {
        padding: 15px;
    }
}
@media (max-width: 400px) {

    /* -------- wallet & gift card  ------*/
    .walletDiv li {
        width: 50%;
    }

    .wallet_bg {
        margin-right: 10px;
    }
}
@media (max-width: 359px) {

    /* -------- wallet & gift card  ------*/
    .amt-div p {
        font-size: 11px;
    }

    .amt-div h5 {
        font-size: 1.1rem;
    }
}